
.content , .cardhome{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  width: 300px;
  background-color: #AA336A;
}

a:hover{
  
  background-color: #AA336A;
  border-radius: 20px;
  width: 100px;
}
